{% extends "admin/index.html.twig" %}

{% block title %}New Material{% endblock %}

{% block dashboard_content %}
    <h1>Create new Material</h1>

    {{ include('material/_form.html.twig') }}

    <a href="{{ path('app_material_index') }}">back to list</a>
{% endblock %}
