{% extends "base.html.twig" %}

{% block h1 %}{{ title }}{% endblock %}

{% block body %}

    <h2>Lorem ipsum dolor sit amet.</h2>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat sapiente voluptate modi adipisci, consequuntur magni consequatur nam dolores laudantium pariatur?</p>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat sapiente voluptate modi adipisci, consequuntur magni consequatur nam dolores laudantium pariatur?</p>
    
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat sapiente voluptate modi adipisci, consequuntur magni consequatur nam dolores laudantium pariatur?</p>


    <h2>Lorem ipsum dolor sit amet.</h2>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat sapiente voluptate modi adipisci, consequuntur magni consequatur nam dolores laudantium pariatur?</p>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat sapiente voluptate modi adipisci, consequuntur magni consequatur nam dolores laudantium pariatur?</p>
    
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat sapiente voluptate modi adipisci, consequuntur magni consequatur nam dolores laudantium pariatur?</p>


    <h2>Lorem ipsum dolor sit amet.</h2>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat sapiente voluptate modi adipisci, consequuntur magni consequatur nam dolores laudantium pariatur?</p>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat sapiente voluptate modi adipisci, consequuntur magni consequatur nam dolores laudantium pariatur?</p>
    
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat sapiente voluptate modi adipisci, consequuntur magni consequatur nam dolores laudantium pariatur?</p>

{% endblock %}